html {
  background-image: url("https://images.pexels.com/photos/9708/food-pizza-restaurant-eating.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#main {
  position: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-image: url("https://images.pexels.com/photos/9708/food-pizza-restaurant-eating.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  transition: 1s opacity;
}
