#businesses {
  height: 100vh;
  width: 30%;
  position: absolute;
  text-align: center;
  z-index: 1;
  overflow: scroll;
  background-color: transparent;
  top: 60px;
  left: 10px;
  border-radius: 5px;
}

#business {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 15px;
  border-bottom: 1px solid $abisso;
  border-radius: 5px;
  font-size: 20px;
  font-style: $sans
}

#business img {
  height: auto;
  width: 90%;
  margin: 20px auto;
}

#business:hover {
  cursor: pointer;
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

#priceFilter {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#priceFilter label {
  width: 65px;
  margin: 10px 0;
  font-size: 20px;
}
