#businesses {
  height: 100%;
  width: 18%;
  position: absolute;
  text-align: center;
  z-index: 1;
  overflow: scroll;
  background-color: white;
  top: 60px;
  left: 10px;
}

#business {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}
