#businessShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

#businessShowUpper {
  display: flex;
  flex-direction: row;
  width: 70%;
}

#businessInfoSection {
  height: 30%;
  width: 74%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#businessShowInfo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#businessShowName {
  font-size: 35px;
  font-family: $sans;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 10px 0;
}

#businessInfo {
  font-size: 20px;
  font-family: $sans;
}

#businessShowReviewStars {
  color: $red;
}

#businessShowReview {
  margin-left: 10px;
  color: $gray;
}

#modal {
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 3px;
  font-family: $sans;
  color: white;
  background-color: $red;
  width: 15%;
  height: 30px;
  text-align: center;
  margin: auto 0;
}

#modal:hover {
  opacity: 0.5;
}

#businessShowMid {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $card_border;
  width: 70%;
  padding-bottom: 15px;
}

#businessShowCard {
  display: flex;
  flex-direction: column;
  border: 1px solid $card_border;
  background-color: white;
  height: 300px;
}

#lowerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

#lowerCardAddress {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#businessCardInfo {
  font-size: 15px;
  font-family: $sans;
  padding-left: 5px;
}

#icon {
  margin-right: 8px;
}

#iconHidden {
  margin-right: 5px;
  color: white;
}

#businessMap {
  width: 250px;
  padding: 6px;
}

#businessShowBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  padding: 0 15%;
}

.businessShowPrice {
  color: $green;
  margin-bottom: 10px;
}

#businessHours {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  padding: 15px 0 0 15px;
}

#hoursHeader {
  font-size: 30px;
  font-family: $sans;
  font-weight: bolder;
  color: $red;
  padding-bottom: 15px;
}

#schedule {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 20%;
  padding-top: 20px;
}

#week {
  padding-top: 2px;
  font-weight: bold;
  font-size: 15px;
  font-family: $sans;
}

#day {
  font-size: 15px;
  font-family: $sans;
  margin: 5px 0;
}
