#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-size: 45px;

  color: $terra ;
  background-color: $acqua_pro;
}

#header button {
  margin: 0 20px;
}

#header button:hover{
  cursor: pointer;
  color: $light_terra;
}
