#header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;

  width: 100%;
  font-size: 150%;
  font-family: $sans;
  letter-spacing: 2px;

  color: white;
  background-color: $red;
}

#header button {
  margin-right: 30px;
  font-size: 1.4em;
}

#homeLink {
  margin: auto 0;
}

#searchbarLabel {
  padding-right: 10px;
}

#searchbarInput {
  width: 210px;
  margin-right: 15px;
  border-bottom: 1px solid white;
  font-size: 90%;
}

#headerLinks a {
  padding-left: 18px;
  font-size: 1.5em;
}

.link:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
  color: white;
}

input::placeholder {
  color: $light_gray;
}
