.home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#upperHomepage {
  display: flex;
  width: 100%;
  height: 600px;
  z-index: -100;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ),url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#quote h1{
  font-family: $sans;
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 20px auto;
  width: 70%;
}

#midHomepage {
  width: 100%;
  height: 100px;
}

#lowerHomepage {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  margin: auto auto;
}

#trending {
  text-align: center;
  font-size: 30px;
  font-family: $sans;
  font-weight: bolder;
  color: $red;
  margin: 1em auto 1em auto;
  height: 100%;
  width: 100%;
}
