#upperHomepage {
  display: flex;
  position: fixed;
  min-width: 50%;
  min-height: 50%;
  width: 100%;
  height: 60%;
  z-index: -100;
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote h1{
  font: $sans;
  font-size: 100px;
  color: white;
  text-align: center;
  margin: auto;
}

#lowerHomePage {
  display: flex;
  position: fixed;
  min-width: 50%;
  min-height: 50%;
  background-color: orange;
  border: 5px solid black;
  overflow: scroll;
}


// background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg);
// background-image: url("https://images.pexels.com/photos/28883/pexels-photo-28883.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
