#reviewIndex {
  display: flex;
  flex-direction: column;
}

#reviewHeader {
  font-size: 30px;
  font-family: $sans;
  font-weight: bolder;
  color: $red;
  padding: 15px;
}

#reviewSide {
  border-right: 1px solid $card_border;
}

#review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 40%;
  width: 90%;
  height: auto;
  padding: 20px 15px;
  border-bottom: 1px solid $card_border;
}

#reviewInfo {
  width: 100%;
}

#reviewTop {
  display: flex;
  flex-direction: row;
}

#reviewRating {
  font-size: 20px;
  font-family: $sans;
}

#ratingStars {
  color: $red;
}

#reviewText {
  font-size: 15px;
  font-family: $sans;
  width: 80%;
}

#reviewUsername {
  font-size: 20px;
  font-family: $sans;
  padding: 10px 0;
}

#removeReview {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3px;
  background-color: $red;
  color: white;
  height: 25px;
  width: 120px;
  margin-left: 20px;
}

#deleteText {
  margin: auto;
}

#reviewPhoto {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
