#reviewForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#reviewForm textarea {
  border: 2px solid black;
  text-align: center
}

#reviewForm div {
  padding: 7% 0;
}

#rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rating label {
  font-size: 20px;
  margin: 15px;
}

#reviewText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviewForm input {
  font-size: 20px;
  padding: 5px;
  background-color: $abisso;
  border: 1px solid black;
  border-radius: 5px;
  color: #F0EAD6;
}

#reviewForm input:hover {
  cursor: pointer;
}

#reviewIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviewIndexTitle {
  font-size: 30px;
  padding: 15px;
  font-family: $sans;
  font-weight: bold;
}

#modal {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: $sans;
  color: white;
  background-color: $abisso;
}

#modal:hover {
  opacity: 0.5;
}
